<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CronPilot · 登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="jumbotron" style="background-color: white;">
    <div style="text-align: center">
        <h1 class="display-4">CronPilot 定时调度平台</h1>
        <p class="lead">&nbsp;&nbsp;方便、统一、自由</p>
    </div>
</div>
<div style="text-align: center">
<form action="{{ url_for('rbac.login') }}" method="post" class="well form-search form-inline">
    <input type="hidden" name="next" value="{{ next_url }}">
    <input type="text" name="username" value="" placeholder="用户名" class="form-control" required>
    <input type="password" name="password" value="" placeholder="密码" class="form-control" required>
    <input type="submit" value="确定" class="btn btn-primary">
</form>
    {% if msg %}
<div style="text-align: center;font-size: 1.2em;color: red">
       {{ msg }}
    </div>
{% endif %}
</div>
</body>
</html>
